.wavingHand {
  animation-name: wave-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: 75% 75%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-15deg);
  }
  30% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
